<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddEmp</servlet-name>
        <servlet-class>com.oe.AttUI.AddEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatePl</servlet-name>
        <servlet-class>com.oe.AttUI.updatePl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmp1</servlet-name>
        <servlet-class>AddEmp1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateEmp</servlet-name>
        <servlet-class>com.oe.AttUI.UpdateEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateFinalEmp</servlet-name>
        <servlet-class>com.oe.AttUI.UpdateFinalEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VacEmp</servlet-name>
        <servlet-class>com.oe.AttUI.VacEmp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Empwfh</servlet-name>
        <servlet-class>com.oe.AttUI.Empwfh</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmpDetails</servlet-name>
        <servlet-class>com.oe.AttUI.EmpDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavigationBar</servlet-name>
        <servlet-class>com.oe.AttUI.NavigationBar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>FileUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopulateTable</servlet-name>
        <servlet-class>com.oe.getinfo.PopulateTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchData</servlet-name>
        <servlet-class>com.oe.getinfo.FetchData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePL</servlet-name>
        <servlet-class>com.oe.AttUI.UpdatePL</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionDemo</servlet-name>
        <servlet-class>SessionDemo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddEmp</servlet-name>
        <url-pattern>/AddEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatePl</servlet-name>
        <url-pattern>/updatePl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmp1</servlet-name>
        <url-pattern>/AddEmp1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateEmp</servlet-name>
        <url-pattern>/UpdateEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateFinalEmp</servlet-name>
        <url-pattern>/UpdateFinalEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VacEmp</servlet-name>
        <url-pattern>/VacEmp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Empwfh</servlet-name>
        <url-pattern>/Empwfh</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmpDetails</servlet-name>
        <url-pattern>/EmpDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavigationBar</servlet-name>
        <url-pattern>/NavigationBar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/FileUploadServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>FetchData</servlet-name>
        <url-pattern>/FetchData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePL</servlet-name>
        <url-pattern>/UpdatePL</url-pattern>
    </servlet-mapping>
    
  
</web-app>
